@{
    ViewBag.Title = "Home Page";
}



    <h1>eLIBRARY</h1>
<br/>
<br/>
<br/>
    <p class="lead">
        Register and start enjoying books everywhere.
        The books are also available in our bookstores. 
    </p>
    <p class="lead">
        Come visit us!
    </p>

